body {
    background-color: rgb(46,49,65);
    color: white;
    text-align: center;
    font-size: x-large;
  
  
}

div span {
    padding: 15px;

}
header {
    padding-bottom: 90px;
}
main {
    text-align: left;
    width: 500;
    
}

.articleone {
    background-color: rgb(76,92,150);
  
}
.articleone img {
    padding: 20px;

}
.articletwo p {
    padding-top: 40px;
    text-transform: uppercase;
    padding-bottom: 80px;
    
    
}

.articleone p {
    text-transform: lowercase;
    
}

.articlethree {
    background-color: rgb(69,85,141);
}

.articlefour {
    background-color: rgb(63,78,133);
}

h4 {
    padding-bottom: 40px;
}

img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    padding-bottom: 40px;
}

h3 {
    padding-top: 40px;
}

div {
    padding-bottom: 150px;
}